# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage
/playwright-report/
/test-results/

# next.js
/.next/
/out/
/build

# env files (only .env.example is committed)
.env*
!.env.example

# misc
.DS_Store
*.pem
npm-debug.log*
.pnpm-debug.log*
.vercel
*.tsbuildinfo
next-env.d.ts
